* {
    margin: 0;
    padding: 0;
}

.about-me {
    max-width: 1060px;
    min-width: 599px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    padding-bottom: 200px;
}

#arcoiris-aboutme {
    width: 80%;
    height: 150px;
    padding-top: 290px;
    padding-bottom: 70px;
}

.about-me h1 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 3.75rem;
}

.about-me p {
    color: #3a3030;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 600;
}

@media (max-width: 1080px) {
    .about-me {
        max-width: 800px;
    }

    .about-me h1 {
        font-size: 2.75rem;
    }

    .about-me p {
        font-size: 1.3rem;
    }
}

@media (max-width: 870px) {
    .about-me {
        max-width: 600px;
        padding-bottom: 100px;
    }

    .about-me h1 {
        font-size: 2.2rem;
    }

    .about-me p {
        font-size: 1.1rem;
    }
}

