* {
    margin: 0;
    padding: 0;
}


.about-me-container {
    position: relative;
    margin-top: 100px;
}

.about-me-container svg {
    position: absolute;
    z-index: 1;
    top: 0;
}

.about-me {
    z-index: 2;
    max-width: 1060px;
    min-width: 599px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding-bottom: 200px;
}

.about-me h1 {
    margin-top: 310px;
    font-family: 'Montserrat', sans-serif;
    /* color: black; */
    color: #EB5353;
    font-size: 3.75rem;
}

.about-me p {
    color: #3a3030;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1.3rem;
    line-height: 2.5rem;
    font-weight: 600;
    width: 85%;
    text-align: justify;
}

@media (max-width: 1130px) {
    .about-me {
        max-width: 800px;
    }

    .about-me h1 {
        font-size: 2.75rem;
    }

    .about-me p {
        font-size: 1.3rem;
    }
}

@media (max-width: 870px) {
    .about-me {
        max-width: 600px;
        padding-bottom: 70px;
        gap: 20px;
    }

    .about-me h1 {
        margin-top: 160px; 
        font-size: 2.2rem;
    }

    .about-me p {
        font-size: 1.1rem;
        line-height: 1.9rem;
    }
}

@media (max-width: 650px) {
    .about-me {
        
        min-width: 300px;
        max-width: 420px;
        align-items: center;

        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 70px;
    }

    .about-me h1 {
        margin-top: 110px; 
    }

    .about-me p {
        width: 100%;
        line-height: 2.5rem;
        text-align: center;
    }
}

@media (max-width: 450px) {
    .about-me {
        
        min-width: 120px;
        max-width: 310px;
        padding-bottom: 70px;
    }

    .about-me h1 {
        margin-top: 110px; 
    }

    .about-me p {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
}