* {
    margin: 0;
    padding: 0;
}

.contact {
    max-width: 1060px;
    min-width: 599px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;

    padding-bottom: 200px;
}

.contact h1 {
    font-family: 'Montserrat', sans-serif;
    color: #187498;
    font-size: 3.75rem;
}

.contact p {
    color: #3a3030;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1.3rem;
    line-height: 2.5rem;
    font-weight: 600;
    width: 85%;
}

.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.contact-links a {
    color: #3a3030;
    font-family: 'Hind Madurai', sans-serif;
    background: whitesmoke;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    text-decoration: none;

    transition: all 0.05s;
}

.contact-links a:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}
  
.contact-links a:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}


@media (max-width: 1130px) {
    .contact {
        max-width: 800px;
    }

    .contact h1 {
        font-size: 2.75rem;
    }

    .contact p {
        font-size: 1.3rem;
        line-height: 2.5rem;
    }
}

@media (max-width: 870px) {

    .contact {
        max-width: 600px;
        padding-bottom: 90px;
    }

    .contact h1 {
        font-size: 2.2rem;
    }

    .contact p {
        font-size: 1.1rem;
        line-height: 1.8rem;
    }
}

@media (max-width: 650px) {
    .contact {
        min-width: 300px;
        max-width: 420px;
    }
}

@media (max-width: 450px) {
    .contact {
        min-width: 120px;
        max-width: 310px;
        gap: 30px;
        padding-bottom: 70px;
    }
    .contact p {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
}