@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.container-landing {
    max-width: 1100px;
    min-width: 599px;
    margin-left: auto;
    margin-right: auto;
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.hello-message {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.hello-message h1 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4.4em;
    
}

.hello-message p {
    color: #3a3030;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.hello-message span {
    color: #2352d5;
}

.presentation img {
    width: 400px;
    border: 3px solid black;
    border-radius: 50%;
}

.info-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.link-resume {
    color: #3a3030;
    font-family: 'Hind Madurai', sans-serif;
    background: whitesmoke;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    text-decoration: none;

    transition: all 0.05s;
}
  
.link-resume:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}
  
.link-resume:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.relevant-links {
    display: flex;
    gap: 20px;
}

.relevant-links a i{
    color: black;
    font-size: 40px;

    transition: all 0.3s;
}

.relevant-links a i:hover{
    opacity: 0.7;
}

.fa-github {
    font-size: 27px;
}

.fa-linkedin {
    font-size: 27px;
}

.link-resume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.download-btn {
    background-color: transparent;
}

.skill-set ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.skill-set li {
    font-family: 'Hind Madurai', sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

@media (max-width: 1130px) {
    .container-landing {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 90px;
    }

    .presentation img {
        width: 300px;
    }
}

@media (max-width: 870px) {
    .container-landing {
        max-width: 600px;
    }

    .hello-message h1 {
        font-size: 3.8em;
    }

    .hello-message p {  
        font-size: 1.4rem;
    }
}

@media (max-width: 650px) {
    .landing {
        margin-top: 0px;
    }

    .presentation {
        gap: 40px;
    }

    .container-landing {
        min-width: 300px;
        max-width: 420px;
    }

    .hello-message {
        gap: 40px;
    }

    .hello-message h1 {
        font-size: 3.2em;
    }

    .hello-message p {  
        font-size: 1.5rem;
    }
}


@media (max-width: 450px) {
    .landing {
        margin-top: 0px;
    }

    .presentation img {
        width: 200px;
    }

    .container-landing {
        min-width: 120px;
        max-width: 300px;
    }

    .hello-message {
        gap: 30px;
    }

    .hello-message h1 {
        font-size: 2.2em;
    }

    .hello-message p {  
        font-size: 1.1rem;
    }
}
