@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.container-landing {
    max-width: 1100px;
    min-width: 599px;
    margin-left: auto;
    margin-right: auto;
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.hello-message {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.hello-message h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4.4em;
}

.hello-message p {
    color: antiquewhite;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1.5rem;
}

.hello-message span {
    color: rgb(133, 197, 133);
}

.presentation img {
    width: 400px;
}

.info-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.info-buttons a {
    padding: 6px 16px 6px 12px;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 20px;
    background-color: #393B4E;
    color: #B0B0B0;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.301);
}

.info-buttons a:hover {
    background-color: #5e6072;
    cursor: pointer;
}

.download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.skill-set ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.skill-set li {
    font-family: 'Hind Madurai', sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

@media (max-width: 1080px) {
    .container-landing {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 90px;
    }

    .presentation img {
        width: 300px;
    }
}

@media (max-width: 870px) {
    .container-landing {
        max-width: 600px;
    }

    .hello-message h1 {
        font-size: 3.8em;
    }

    .hello-message p {  
        font-size: 1.2rem;
    }
}

