* {
    margin: 0;
    padding: 0;
}

.pages {
    max-width: 1060px;
    min-width: 599px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 20px;
}

.start-pages {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 40px;
}

.start-pages h1 {
    font-family: 'Montserrat', sans-serif;
    color: #F9D923;
    font-size: 3.75rem;
}

.start-pages p {
    color: #3a3030;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1.3rem;
    line-height: 2.5rem;
    padding-top: 0.5rem;
    font-weight: 600;
    width: 85%;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media (max-width: 1130px) {
    .pages {
        max-width: 800px;
    }

    .start-pages h1 {
        font-size: 2.75rem;
    }

    .start-pages p {
        font-size: 1.3rem;
    }

    .pages h2 {
        font-size: 1.3rem;
    }
}

@media (max-width: 870px) {
    .pages {
        max-width: 600px;
    }

    .start-pages h1 {
        font-size: 2.2rem;
    }

    .start-pages p {
        font-size: 1.1rem;
    }

    .pages h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 650px) {
    .pages {
        min-width: 300px;
        max-width: 420px;
        margin-top: 70px;
    }

    .start-pages h1 {
        text-align: center;
    }

    .start-pages p {
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 450px) {
    .pages {
        min-width: 120px;
        max-width: 310px;
        margin-top: 70px;
    }

    .start-pages {
        align-items: center;
    }

    .start-pages p {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
}