* {
    margin: 0;
    padding: 0;
}

.skills-page {
    max-width: 1060px;
    min-width: 599px;

    margin-left: auto;
    margin-right: auto;

    padding-bottom: 200px;
}

#arcoiris-skills {

    width: 80%;
    height: 150px;
    padding-top: 100px;
    padding-bottom: 70px;
}

.skills-page h1 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 3.75rem;
    margin-bottom: 90px;
}

.skills-grid {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}

@media (max-width: 1080px) {
    .skills-page {
        max-width: 800px;
    }

    .skills-page h1 {
        font-size: 2.75rem;
    }
    
    .skills-grid {
        grid-template-columns: repeat(4, 120px);
        gap: 80px;
    }
}

@media (max-width: 870px) {
    .skills-page {
        max-width: 600px;
        padding-bottom: 100px;
    }

    .skills-page h1 {
        font-size: 2.2rem;
    }

    .skills-grid {
        grid-template-columns: repeat(4, 90px);
        gap: 80px;
    }
}

