* {
    margin: 0;
    padding: 0;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #393B4E;
}

.footer p {
    background-color: #393B4E;
    color: white;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1.1rem;
}

.footer span {
    background-color: #393B4E;
    font-weight: bold;
}