

* {
    margin: 0;
    padding: 0;
}

.project {
    display: flex;
    gap: 55px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    box-shadow: 0px 7px 15px rgb(201, 196, 196);
}

.project #website-img {
    border: 2px solid black;
    width: 455px;
    height: 255px;
    border-radius: 0.375rem;

    transition: box-shadow 0.4s, opacity 0.4s, width 0.2s, height 0.2s ;
}

.project #website-img:hover {
    width: 460px;
    height: 260px;

    box-shadow: 0px 7px 15px rgb(201, 196, 196);
    cursor: pointer;
}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-tools {
    display: flex;
    gap: 20px;
}

.project-tools img {
    width: 60px;
    height: 60px;
    border: none;
}

.project-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.project-info a h1 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 1.5rem;
}

.project-info a {
    text-decoration: none;
    transition: all 0.2s;
}

.project-info a:hover {
    opacity: 0.6;
}


.project-info p {
    color: #3a3030;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1.1rem;
    width: 90%;
}

@media (max-width: 1080px) {
    .project {
        align-items: center;
    }

    .project #website-img {
        width: 355px;
        height: 210px;
        border-radius: 0.375rem;
    }

    .project-info h1 {
        font-size: 1.3rem;
    }

    .project-tools img {
        width: 50px;
        height: 50px;
        padding-top: 20px;
    }
}

@media (max-width: 870px) {
    .project {
        gap: 35px;
        align-items: center;
    }

    .project #website-img {
        width: 255px;
        height: 160px;
        border-radius: 0.375rem;
    }

    .project #website-img:hover {
        width: 260px;
        height: 165px;
    }

    .project-info {
        gap: 10px;
    }


    .project-info a h1 {
        font-size: 1.3rem;
    }

    .project-info p {
        font-size: 0.9rem;
    }

    .project-tools {
        display: flex;
        gap: 20px;
    }
    
    .project-tools img {
        width: 40px;
        height: 40px;
        padding-top: 20px;
    }
}

@media (max-width: 650px) {
    .project {
        padding: 30px;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
}

@media (max-width: 450px) {
    .project {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
}