* {
    margin: 0; 
    
}
body {
    /* background: linear-gradient(-45deg,#237fd5,rgb(216, 84, 31), white); */
    background-color: #FFFBF5;
}
html {
    scroll-behavior: smooth;
}

.jump-btn {
    position: fixed;
    bottom: 100px;
    right: 100px;
    display: none;
    width: 50px;
    height: 50px;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border-radius: 50%;
    opacity: 0.7;
    cursor: pointer;
    z-index: 9999;
    border: solid black;
}

.jump-btn:hover {
    background-color: #3e404b;
}

.jump-btn.active {
    display:block;
}

.arrow-icon {
    background-color: transparent;
}
